@model IEnumerable<ProyectoMioMVC.Models.usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carrera_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrasenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bloqueado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ultimo_login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carrera_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bloqueado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ultimo_login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
